@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}